<extend name="Global:base"/>
<block name="style">
</block>
<block name="script">

</block>
<block name="main">
    <div class="codeView ml-10 mt-10 pretty-area radius">
        <a class="btn radius btn-primary" onclick="layer_show('800','','添加管理员','<{:U('Access-adminAdd')}>')" href="javascript:;">
            <i class="icon-plus"></i>
            添加管理员
        </a>
        <form action="Index-Access-adminModif" method="post">
            <table class="table table-border table-bordered table-striped table-bg table-hover">
                <tr>
                    <th>序号</th>
                    <th>登录名</th>
                    <th>工号</th>
                    <th>角色</th>
                    <th>所属部门</th>
                    <th>姓名全拼</th>
                    <th>电话号码</th>
                    <th>排序值</th>
                    <th>上次登录IP</th>
                    <th>是否锁定</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <volist name="adminList" id="a">
                    <tr id="<{$a.id}>">
                        <td><{$i}></td>
                        <td class="changeCol" colName="name"><{$a.name}></td>
                        <td class="changeCol" colName="code"><{$a.code}></td>
                        <td class="changeCol" colName="role_id" id="<{$a.role_id}>"><{$a.role}></td>
                        <td class="changeCol" colName="department_id" id="<{$a.department_id}>"><{$a.department}></td>
                        <td class="changeCol" colName="user_pin"><{$a.user_pin}></td>
                        <td class="changeCol" colName="phone"><{$a.phone}></td>
                        <td class="changeCol" colName="sort"><{$a.sort}></td>
                        <td><{$a.login_ip}></td>
                        <td><if condition="$a['lock'] eq 1">锁定<else />否</if></td>
                        <td><if condition="$a['status'] eq 1">删除<else />显示</if></td>
                        <td class="td">
                            <a class="btn radius btn-primary" onclick="layer_show('800','','修改管理员信息','<{:U('Access-adminModif')}>?id=<{$a.id}>')" href="javascript:;">
                                <i class="icon-plus"></i>
                                修改
                            </a>

                            <if condition="$a['status'] eq 0">
                                <a class="btn radius btn-danger" href="javascript:if(window.confirm('确认删除?')){window.location.href='<{:U('Access/adminDel',array('id'=>$a['id']))}>'}">删除</a>
                            <else />
                                <a class="btn radius btn-danger" href="javascript:if(window.confirm('确认恢复?')){window.location.href='<{:U('Access/adminDel',array('id'=>$a['id']))}>'}">恢复</a>
                            </if>

                            <if condition="$a['lock'] eq 0">
                                <a class="btn radius btn-danger" href="javascript:if(window.confirm('确认禁用?')){window.location.href='<{:U('Access/adminLocked',array('id'=>$a['id']))}>'}">禁用</a>
                            <else />
                                <a class="btn radius btn-danger" href="javascript:if(window.confirm('确认恢复?')){window.location.href='<{:U('Access/adminLocked',array('id'=>$a['id']))}>'}">恢复</a>
                            </if>
                            <a class="btn radius btn-danger" href="javascript:if(window.confirm('确认初始化?')){window.location.href='<{:U('Access/adminPasswordReset',array('id'=>$a['id']))}>'}">初始化密码</a>
                        </td>
                    </tr>
                </volist>
            </table>
            <div class="pageNav">
                <{$show}>
            </div>
        </form>
    </div>
    <div id="ajaxModal" class="modal hide fade" tabindex="-1" data-width="730"></div>
</block>
