<extend name="Global:base"/>
<block name="style">
</block>
<block name="script">

</block>
<block name="main">
    <div class="codeView ml-10 mt-10 pretty-area radius">
        <form action="Index-Access-passwordModif-act-mod" method="post" target="_parent">
            <table class="table table-border table-bordered table-striped table-bg table-hover">
                <tr>
                    <th class="text-r" width="50%">当前管理员</th>
                    <td><input type="text" value="<{$admin_name}>" disabled="disabled" /></td>
                </tr>
                <tr>
                    <th class="text-r">旧密码</th>
                    <td><input type="password" name="oldPass" /></td>
                </tr>
                <tr>
                    <th class="text-r">新密码</th>
                    <td><input type="password" name="newPass" /></td>
                </tr>
                <tr>
                    <th class="text-r">确认密码</th>
                    <td><input type="password" name="rePass" /></td>
                </tr>
                <tr>
                    <th colspan="2" class="text-c"><input type="submit" class="btn radius btn-info" value="提交" /></th>
                </tr>
            </table>
        </form>
    </div>
    <div id="ajaxModal" class="modal hide fade" tabindex="-1" data-width="730"></div>
</block>
